body {
    margin:0;
    padding:0;
}

h1 {
    font-size: 70px;
    color: #333;
    text-align: center;
    margin-top : 250px;
}

.button {
    font-size: 50px;
    position: absolute;
    top: 6px;
    right: 50px;
    z-index: 999;
}

.button a {
    text-decoration: none;
}
 
.btn-open:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f0c9"; 
    transition: color .2s;
} 

.btn-open:hover:after {
    color: #1c9769;
}

.btn-close:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f00d";
    transition: color .2s;
}

.btn-close:hover:after {
    color: #1c9769;
}

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #d5e114;
}

.nav-container {
    text-align: center;
    width: 98%;
    margin: 0 auto;
}

.nav-col {
    padding: 200px 0px;
    width: 24%;
    display: inline-block;
}

.nav-col ul {
    padding: 0;
    list-style: none;
}

.nav-col ul li a {
    color: #f0f0f0;
    font-size: 10px;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition: color .2s;
}

.nav-col ul li a:hover {
    color: #1c9769;
}